# Sauce Labs creds
SAUCE_USERNAME=your_username
SAUCE_ACCESS_KEY=your_access_key
SAUCE_REGION=us-west-1

# App references (we’ll set these after uploading to Sauce Storage)
# Examples:
# ANDROID_APP=storage:filename=Android-MyDemoAppRN.apk
# IOS_APP=storage:filename=iOS-MyDemoAppRN.ipa
ANDROID_APP=
IOS_APP=

# Defaults
PLATFORM=android
ENV=qa
