# Execution context
RUN_ENV=local
PLATFORM=android

# Local Docker + Appium
APPIUM_SERVER_URL=http://appium:4723/wd/hub
ANDROID_LOCAL_APP_PATH=/apps/android/Android.SauceLabs.apk

# Sauce Labs credentials
SAUCE_USERNAME=your_username
SAUCE_ACCESS_KEY=your_access_key
SAUCE_REGION=us-west-1

# Sauce storage app references
ANDROID_SAUCE_APP=storage:filename=Android.SauceLabs.apk
IOS_SAUCE_APP=storage:filename=iOS.Simulator.SauceLabs.zip

# Sauce Android defaults
SAUCE_ANDROID_DEVICE=Samsung Galaxy S9 Plus FHD GoogleAPI Emulator
SAUCE_ANDROID_PLATFORM_VERSION=8.1
